/* ------ Responsive web design --------------*/
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}

#wrapper {
  position: relative;
  margin: 60px auto;
  width: 100%;
  overflow-x: hidden;
}

.page-title {
  margin: 60px auto;
  text-align: center;
}

#loginPanel {
  max-width: 600px;
  margin: auto;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.buttons {
  margin: 20px;
}

.btn-custom {
  width: 200px;
}

.btn-custom-lg {
  width: 400px;
}



