/* ------ Responsive web design --------------*/
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}

#wrapper {
  position: relative;
  margin: 60px auto;
  width: 100%;
  overflow-x: hidden;
}

.page-title {
  margin: 60px auto;
  text-align: center;
}

#loginPanel {
  max-width: 600px;
  margin: auto;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.buttons {
  margin: 20px;
}

.btn-custom {
  width: 200px;
}

.btn-custom-lg {
  width: 400px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-decoration {
  text-decoration: none !important;
}

span.glyphicon-hold {
  margin: 0 5px;
}

span.page-count {
  color: #fff;
}

.message-container {
  margin-top: 20px;
}

.facebook-color {
  background-color: #3b5998;
  color: #fff;
}

.btn-login {
  margin: 5px 0;
}