<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta description="">
    <meta author="Yanshuo HUANG">
    {% if title %}
        <title>What's today - {{ title }}</title>
    {% else %}
        <title>What's today</title>
    {% endif %}
    {% block styles %}
        {% include 'include/base_css.html' %}
    {% endblock %}
<body>
{% block nav %}
  {% include 'include/nav.html' %}
{% endblock %}

<div id="wrapper">
  {% block content %}{% endblock %}
</div>

{% block footer %}
{% endblock %}

{% block javascripts %}
  {% include 'include/base_js.html' %}
{% endblock %}
</body>
</html>