{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">List of words</h1>
      </div>
    </div>
    <div id="listReactWrap" data-url="{{ url_for('api_list') }}" data-per-page="{{ WORDS_PER_PAGE }}"></div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ super() }}
  {% assets "list_page_react_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}