{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">What's today ? </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="text-align:center;">
        <div class="panel panel-default" style="display: inline-block">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" size="xlarge">
                </fb:login-button>
              </div>
              <div class="col-md-12">
                <button class="btn btn-lg weibo-color btn-login"><i class="fa fa-weibo fa-4"></i> Login with Weibo (TODO)</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ super() }}
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '881538918575060',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.3'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }

    function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);
      // The response object is returned with a status field that lets the
      // app know the current login status of the person.
      // Full docs on the response object can be found in the documentation
      // for FB.getLoginStatus().
      if (response.status === 'connected') {
        // Logged into your app and Facebook.
        window.location.href = '{{ url_for('oauth_authorize', provider='facebook')}}';
      } else if (response.status === 'not_authorized') {
        // The person is logged into Facebook, but not your app.
        document.getElementById('status').innerHTML = 'Please log ' +
          'into this app.';
      } else {
        // The person is not logged into Facebook, so we're not sure if
        // they are logged into this app or not.
        document.getElementById('status').innerHTML = 'Please log ' +
          'into Facebook.';
      }
    }
  </script>
{% endblock %}