{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">What's today ? </h1>
      </div>
    </div>
    <div class="row buttons">
      <div class="col-md-12 center">
        <a id="btnAdd" class="btn btn-success btn-lg btn-custom" href="{{ url_for('edit') }}">Add</a>
      </div>
    </div>
    <div class="row buttons">
      <div class="col-md-12 center">
        <a id="btnList" class="btn btn-success btn-lg btn-custom" href="{{ url_for('list') }}">List</a>
      </div>
    </div>
    <div class="row buttons">
      <div class="col-md-12 center">
        <a id="btnToday" class="btn btn-success btn-lg btn-custom-lg"href="{{ url_for('today') }}">What's today ?</a>
      </div>
    </div>
  </div>
{% endblock %}